.App {
  text-align: center;
}

*{
  font-family: 'Starwars';
}

#imagenes img{
  width: 350px;
  height: 400px;
  margin-right: 10px;
}

.display{
  display: none;
}

.image{
  width: 400px;
  height: 500px;
}

h2{
  font-size: 30px;
}
.rojo{
  text-shadow:
  1px 1px 0px red, 
  -1px 1px 0px red,  
  1px -1px 0px red, 
  -1px -1px 0px red; 
}
.verde{
  text-shadow:
  1px 1px 0px green, 
  -1px 1px 0px green,  
  1px -1px 0px green, 
  -1px -1px 0px green; 
}
.azul{
  text-shadow:
  1px 1px 0px cyan, 
  -1px 1px 0px cyan,  
  1px -1px 0px cyan, 
  -1px -1px 0px cyan; 
}
.morado{
  text-shadow:
  1px 1px 0px purple, 
  -1px 1px 0px purple,  
  1px -1px 0px purple, 
  -1px -1px 0px purple; 
}

.creative-commons {
  display: inline-block;
  margin-left: 3px;
  vertical-align: text-bottom;
}

.creative-commons img {
  height: 22px;
  margin-left: 3px;
  vertical-align: text-bottom;
}

body{
  background-image: url('../public/Images/estrellas.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: 'Starwars'; /* Nombre de la fuente */
  src: url('../public/fonts/Starjedi.ttf') format('truetype'); /* Ruta al archivo y su formato */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
